modules = ["python-3.12", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Q Worker"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Q Worker"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py qcluster"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
GOOGLE_REDIRECT_URI = "https://65f00a15-838b-48d1-9191-4b70d15a8b25-00-2gw0zobcb6f4o.picard.replit.dev/accounts/google/callback/"
